{% extends base %}

{% block title %}Neural Network Playground{% endblock %}

{% block postamble %}
  <style>
    {% include 'styles.css' %}
    
  </style>
{% endblock %}

{% block contents %}
  <div class="content">
    <h1>An Interactive Explorer for Neural Network</h1>

    <p>This playground will help you to try, test and learn how Encoder-Decoder Recurrent Neural Network works in time series applications. Before deep diving into this, please follow the turorial 
      <a href='description.html'>HERE</a> for a brief description of the models exploited in the demo, as well as the hyper-parameters and their impacts on the model's performance.    </p>
<!--     <h2 id="hover" class="hoverable">LEARNING HYPER-PARAMETERS</h2> 
    <div id="stuff" class="show-on-hover">
        <p>Short description of hyper-parameteres:</p>
        <ul>
          <li>Learning rate (LR): Small LR are likely to lead to consistent but slow progress. Large LR can lead to better progress but are more risky. </li>
          <li>Dropout</li>
          <li>LR decay scheme:</li>
          <li>LR warm-up scheme:</li>
        </ul>
    </div> -->
    {{ super() }}

  </div>
{% endblock %}
